
.navbar {
	background: #233140;

}

header {
	background: #2C3E50;
	
}

header .container {
    padding-top: 125px;
    padding-bottom: 0px;

}

.navbar-fixed-top {
	padding: 0px;

}

.project-blue {
	background: #2C3E50;
	color:white;
	
}

.project-white {
	background: white;
	color:#2C3E50;
	
}


#portfolio .portfolio-item .portfolio-link .caption{
	background:#2C3E50;
	
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: .95;
}

.project-image {
	width:400px;
}

.large-image {
	width:600px;
}
.small-image {
	width:350px;
	margin-top:50px;
}

.311-image {
	margin-top:50px;
}